{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Players</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for player in players %}
            <div v-for="movie in movies" class="col">
                <div class="card">
                    <!-- TODO: ADD ELSE BEHAVIOR TO DISPLAYING IMAGES -->
                    <img class="card-img-top" src="{{ player.profile_photo.url }}" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ player.name }}</h5>
                        <img style="width:50px" src="{{ player.team.logo.url }}" />
                        <span class="card-text">{{ player.team }}</span>
                        <br>
                        <br>
                        {% if user.is_authenticated %}
                            <a href="{% url 'playerInfo' player.id %}" class="btn btn-primary">View Info</a>
                        {% endif %}
                        <!-- TODO: hide updateTeam for non-admins-->
                        {% if user.is_superuser %}
                            <a href="{% url 'updatePlayer' player.id %}" class="btn btn-primary">Update Info</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% if user.is_superuser %}
        <div class ="card">
            <div class="card-body" style="text-align:center">
                <h5 class ="card-title fw-bold">Add Player</h5>
                <!--<a href="create_team" class="stretched-link"></a>-->
                <br>
                <a href="/players/create_player" ><img src="{% static 'plus_in_circle.png' %}" width="180" height="180"> </a>
            </div>
        </div>
    {%  endif %}
    </div>
{% endblock content %}
